/*********************Наши клиенты*******************************/
.clients {
  /*padding-top: 100px;*/
}
.our-clients {
  /**@include text-decoration(700, 36px, 1.17, currentColor);*/
  @include text-decoration(700, 28px, 1.17, currentColor);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 32px;
}
.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /**padding-bottom: 94px;*/
}

.clients-list__item {
  display: flex;
  flex-basis: 50%;
  margin-bottom: 30px;
  justify-content: center;
}
/**Это относится к элементу li-ки, а не к самомму ul**/
/*.clients-list__item:not(:last-child) {
  margin-right: 30px;
}*/

.clients-list__company {
  content: "";
  height: 92px;
  min-width: 150px;

  @media screen and (min-width: 480px) {
    width: 210px;
  }
  /**width: 170px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  fill: var(--company-color);
  border: 1px solid var(--company-color);

  transition-property: fill, border;
  transition-duration: var(--timing);
  transition-timing-function: var(--cubik);

  &:hover,
  &:focus {
    fill: var(--second-color);
    border: 1px solid var(--second-color);
  }
}
