/**************************footer css**************************/
footer {
  background: var(--outside-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.foot {
  /***/
  text-align: center;
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
    display: flex;
  }
}

.foot__left--tablet {
  @media screen and (min-width: 767px) {
    display: flex;
    margin-left: 86px;
    margin-right: 79px;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.address-ccs {
  margin-top: 20px;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.foot__adress {
  margin-bottom: 9px;
  & .link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
  }
}

.foot__contacts {
  & .link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.injoy-sector {
  /***/
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.injoy-sector__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light-text-color);
  margin-bottom: 20px;
}

.injoy-mailing {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-top: 0;
  }
  /***/
  margin-top: 12px;
}

.injoy-mailing__text-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  /***/
}

.injoy-mailing__input-class {
  height: 50px;
  width: 100%;
  @media screen and (min-width: 767px) {
    width: 450px;
    display: block;
    margin: 20px auto;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin: 0;
    margin-right: 12px;
  }
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--primary-text-color);
  padding: 16px 15px;
  color: var(--primary-text-color);
  margin-right: 12px;
  margin-bottom: 20px;
  &::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
}
