.heading {
  display: flex;
  justify-content: space-between;
}
.header .conteiner {
  display: flex;
  align-items: center;
}
.header-navigation__link {
  @media screen and (min-width: 767px) {
    display: block;
    padding-top: 0;
    padding-bottom: 10px;
  }
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-navigation__link--active-link {
  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    margin-bottom: -1.5px;
    @media screen and (min-width: 767px) {
      margin-bottom: -33.5px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: -28.5px;
    }
  }
}
.header-navigation {
  display: flex;
  align-items: center;
}
.nav-head {
  @include text-decoration(500, 14px, 1.14, var(--secondary-text-color));
  display: flex;
  .link {
    color: var(--secondary-text-color);
    &:hover {
      color: var(--second-color);
    }
  }
  li:not(:last-child) {
    margin-right: 50px;
  }
}

.for-mailto,
.for-tel {
  fill: currentColor;
  margin-right: 10px;
  @media screen and (max-width: 767px) {
    display: none;
  }

  &:hover,
  &:hover {
    fill: currentColor;
  }
}
.post-and-phone {
  margin-left: auto;
  @media screen and (max-width: 479px) {
    position: absolute;
    bottom: 100px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    position: absolute;
    bottom: 134px;
  }
  @media screen and (min-width: 767px) {
    margin-top: 0;
    padding-top: 21px;
    padding-bottom: 21px;
    @include text-decoration(500, 12px, 1.17, currentColor);
    display: block;
  }
  @media screen and (min-width: 1200px) {
    @include text-decoration(500, 14px, 1.14, currentColor);
    display: flex;
    align-items: center;
  }

  justify-content: center;
  li:not(:last-child) {
    /***/
    margin-bottom: 22px;
    @media screen and (min-width: 480px) and (max-width: 766px) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: 480px) {
      margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
  .link {
    color: var(--primary-text-color);
    &:hover {
      color: var(--second-color);
    }
  }
}

.mobile-tel {
  @media screen and (min-width: 480px) {
    @include text-decoration(500, 34px, 1.17, var(--second-color));
  }
  @include text-decoration(500, 24px, 1.17, var(--second-color));
}

.mobile-post {
  @media screen and (min-width: 480px) {
    @include text-decoration(500, 24px, 1.17, var(--primary-text-color));
  }

  @media screen and (min-width: 767px) {
    width: 14px;
    height: 10px;
  }
  @include text-decoration(500, 14px, 1.17, var(--primary-text-color));
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 15px;
  padding-bottom: 48px;
  z-index: 10;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.menu-close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  fill: var(--secondary-text-color);
  border: none;
  display: block;
  margin-left: auto;

  &:hover,
  &:focus {
    fill: var(--second-color);
  }
}

.mob-menu-list {
  margin-bottom: 32px;
}

.mob-menu-list__item {
  @media screen and (min-width: 480px) {
    @include text-decoration(500, 40px, 1.17, var(--secondary-text-color));
  }
  @include text-decoration(500, 30px, 1.17, var(--secondary-text-color));

  &:not(:last-child) {
    margin-bottom: 22px;
  }
}

.mobile-socials {
  display: flex;
  margin-top: 64px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 48px;
  left: 40px;
}
.mobile-socials__link {
  @media screen and (min-width: 480px) {
    @include text-decoration(500, 18px, 1.22, var(--second-color));
  }
  @include text-decoration(500, 12px, 1.22, var(--second-color));
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials-item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.mobile-header {
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.wide-head {
  display: none;
  @media screen and (min-width: 767px) {
    display: flex;
  }
}
.wide-post {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
