.projects-filter {
  justify-content: start;
  padding-bottom: 40px;
  & li:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (min-width: 767px) {
    justify-content: center;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
  }
}

.projects-filter__item {
  @include text-decoration(500, 16px, 1.62, #f5f4fa);
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--secondary-text-color);
  cursor: pointer;
  border-color: transparent;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 15px;

  transition-property: color, background-color, box-shadow;
  transition-duration: var(--timing);
  transition-timing-function: var(--cubik);

  &:hover,
  &:focus {
    color: var(--light-text-color);
    background-color: var(--second-color);
    box-shadow: 1px 1px 5px var(--company-color);
  }
}
