:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --outside-background-color: #2f303a;
  --light-text-color: #ffffff;
  --second-color: #2196f3;
  --company-color: #afb1b8;
  --timing: 250ms;
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
}
